/* Google Fonts - Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

/* Variables */

:root {

    /* Colors */
    --primary-color: rgb(53,85,195);
    --primary-color-hover: rgb(29, 133, 197);
    --nova-color: rgb(53, 85, 195);
    --success-color: rgb(99, 222, 120);
    --success-color-hover: rgb(77, 163, 91);
    --danger-color: rgb(237, 83, 83);
    --danger-color-hover: rgb(200, 70, 70);
    --dark-color: rgb(61, 61, 61);
    --dark-gray-color: rgb(79, 78, 78);
    --dark-letter-color: rgb(171, 171, 171);
    --dark-background-color: rgb(51, 51, 51);
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(255, 255, 255);
    --white-gray-color: rgb(245, 245, 245);
    --disabled-color: rgba(14, 14, 14, 0.16);
    --nova-color: rgb(53,85,195);
    
    --primary-color-disabled: rgba(29, 133, 197, 0.531);
    --success-color-disabled: rgb(77, 163, 91, 0.531);
    --danger-color-disabled: rgb(237, 83, 83, 0.531);
    --border-color: rgb(236, 236, 236);
    

    /* Font */
    --font:  'Quicksand', sans-serif;
    --font-color: rgb(113, 113, 113);
    
    /* Sizes */
    --fs-10: 0.625rem; /*10px*/
    --fs-11: 0.6875rem; /*11px*/
    --fs-12: 0.75rem; /*12px*/
    --fs-13: 0.8125rem; /*13px*/
    --fs-14: 0.875rem; /*14px*/
    --fs-15: 0.9375rem; /*15px*/
    --fs-16: 1rem; /*16px*/
    --fs-20: 1.25rem; /*20px*/
    --fs-25: 1.5625rem; /*25px*/
    --fs-30: 1.875rem; /*30px*/

    /* Radius and Borders */
    --radius: 8px;
    --radius-48: 3rem;
    --radius-24: 2rem;
    --radius-100: 100%;
    --border-top-left-radius: 5px;
    --border-top-right-radius: 5px;
    --border-solid: 1px solid rgb(204, 204, 204);
    --border-solid-grey: rgb(180, 180, 180);
    --border-bottom: 1px solid rgb(239, 239, 239);
    --border-top: 1px solid rgb(239, 239, 239);

    /* Shadows */
    --shadow: 0px 0px 5px 0px rgba(204,204,204,0.38);
    --shadow-down: 0px 5px 5px 0px rgba(204,204,204,0.38);
    --shadow-dropdown-down: 0px 0px 5px 0px rgba(161, 161, 161, 0.605);
    --shadow-up: 0px -5px 5px 0px rgba(204,204,204,0.38);
    --shadow-right: 5px 0px 5px 0px rgba(204,204,204,0.38);
    --shadow-left: -5px 0px 5px 0px rgba(204,204,204,0.38);

    /* Others */
    --transition: 0.2s ease;

}

/* Normalization styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color: var(--font-color);
    font-size: var(--fs-15);
} 

.button-modal,
.input-modal,
.textarea-modal {
    border: 1px solid transparent;
    outline: none;
    transition: var(--transition);
    font-family: var(--font);
    font-size: var(--fs-15);
}

.button-modal {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: red;
}

a { text-decoration: none; }

.label-modal {
    padding: 10px 0;
}
/* Animations */

button {
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    transition: var(--transition);
}

input {
    border: 1px solid transparent;
    transition: var(--transition);
}

@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes showUp {
    
    0% { 
        opacity: 0;
        transform: translateY(50px);
    }

    100% { 
        opacity: 1;
        transform: translateY(0);
    }

}

/* .container { 
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
} */
.estilos-ul{ 
    list-style: none; 
}

.estilos-li{ 
    list-style: none; 
}

.form-footer {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 10px 20px;
}

.form-footer { 
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}